:root{
	--primary-color: #FCA311;
	--secondary-color: #14213D;
	--tertiary-color: #000000;
	--white-color: #fff;
	--black-color: #000;
}
/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--primary-color);
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
	background: var(--secondary-color);
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
	background: var(--tertiary-color);
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fcc70;
	border: 1px solid #2fcc37;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
/*Header*/
header
{
	background-color: var(--tertiary-color);
	color: white;
	text-align: center;
	padding: 10px;
}
/*Media Queries*/
@media only screen and  (max-width:800px){
	.container-card{
		flex-wrap: wrap;
		max-width: 350px;
	}
	.card{
		margin: 15px;
	}
	.card img{
		height: 200px;
		padding: 5px;
	}
	main{
		display: flex;
		flex-direction: column;
		padding: 10px;
	}

}

	

